body{
    width: 1200px;
    margin: auto;
}
.top_container{
    height: 100px;
    margin-bottom: 20px;
}
.top_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 25% 65%;
}
.container{
    display: flex;
}
.left_container{
    flex: none; width: 20%;
    margin-right: 10px;
}
.profile_card_web{
    display: block;
    text-align: center;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 10px;
}
.profile_card_mobile{
    display: none;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 10px;
}
.profile_right_content{
    flex: none; width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profile_photo_mobile{
    flex: none;
    width: 25%;
    max-width: 150px;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    margin: 10px;
}
.profile_photo{
    width: 100%;
    max-width: 150px;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    margin: 10px;
}
.profile_name{
    font-weight: 500;
    margin-bottom: 10px;
}
.profile_email{
    font-weight: 500;
    margin-bottom: 10px;
}
.profile_href{
    font-weight: 500;
    padding-bottom: 10px;
}
.toc_container{
    background-color: #faf0e7;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.toc_title{
    text-align: center;
    font-weight: 500;
}
.toc_list{
    line-height: 2;
}
.toc_a{
    text-decoration: none;
    color: inherit;
}
.toc_a:visited{
    color: inherit;
}
.toc_a:hover{
    color: blue;
}
.toc_a:active{
    color: inherit;
}
.right_container{
    flex: auto;
}
.question_part{
    border: 1px solid lightgray;
    border-radius: 7px;
    margin: 10px;
}
.article_title{
    margin: 20px;
    font-size: 20px;
    font-weight: 500;
}
.article_title::before{
    content: "•";
    margin-right: 10px;
}
.article_content{
    font-size: 18px;
    margin: 20px;
    line-height: 1.5;
    letter-spacing: 1px;
}
.code_case_1{
    white-space: pre-wrap;
    background-color: #f4f4f4;
    margin: 0px 25px 25px 25px;
    padding-left: 40px;
    border-radius: 15px;
    font-size: 14px;
    line-height: 2;
    text-align: left;
}
.code_case_2{
    background-color: #f4f4f4;
    margin: 0px 25px 25px 25px;
    padding: 30px 30px 30px 50px;
    border-radius: 15px;
    font-size: 16px;
    line-height: 2;
    text-align: left;
}
.code_case_2_title{
    font-weight: 600;
}
a {
    text-decoration: underline;
    color: blue;
}


@media (max-width:1200px) {
    body{
        width: auto;
        margin: 1%;
    }
    .container{
        flex-wrap: wrap;
        justify-content: center;
    }
    .left_container{
        width: 95%;
        margin: 0px;
    }
    .right_container{
        width: 95%;
    }
    .profile_card_web{
        display: none;
    }
    .profile_card_mobile{
        display: flex;   
    }
    .profile_name{
        margin-left: 5%;
    }
    .profile_email{
        margin-left: 5%;
    }
    .profile_href{
        margin-left: 5%;
    }
}

